.banner {
    margin-top: -12rem;
    min-height: 70rem;
    height: 70vh;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    position: relative;

    &__container {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;

        .container {
            height: 100%;
        }
       
    }
    &__text-block {
        position: relative;
        top: 30%;
        left: 0;
        z-index: 2;
        width: 50%;
    }

&__title {
    color: white;
    text-transform: uppercase;
    font-size: 3rem;
    margin-bottom: 2rem;
}
&__text {
    margin-bottom: 2rem;
    color: white;
    text-transform: uppercase;
    width: 80%;
}

&_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
&__overlay {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); 
    z-index: 1;
}
@media (max-width: 576px) {
    &__text-block {
        width: 90%;
    }
}
}
