
// buttons
.btn{
    margin-top: 3rem;
    padding: 0 2rem;
    padding: 1.5rem 5rem;
    transition: all .3s;
    border: 2px solid $accent1;
    color: white;
    display: inline-block;
    text-transform: uppercase;

    &--primary {
        background-color: $accent1;
        color: white;

        &:hover {
            background-color: darken($color: $accent1, $amount: 20%);
            border-color: darken($color: $accent1, $amount: 20%);
        }
    }

    &--secondary{
        color: black;
        background: transparent;
    
        &:hover {
            color: white;
            background-color: $accent1;
        }
    }

}
// section
.section {
    padding-block: 7rem;


    &__title {
        font-size: 4rem;
        font-weight: 800;
        position: relative;
        display: inline-block;

        &::after {
            content: "";
            position: absolute;
            display: block;
            width: 7rem;
            height: .5rem;
            background-color: $accent1;
            
        } 
        
        &--center {
            &::after {
                left: 50%;
                transform: translateX(-50%);
            }
            
        }
    }


  }

