
.header {
  position: relative; 
  top: 0;
  width: 100%;
  z-index: 10; 
  background-color: rgba(0, 0, 0, 0.6); 
  color: white;
  padding: 2rem 0;
  height: 12rem;


  &__container {
display: flex;
  }
  &__burger {
    background-color: transparent;
    border: 1px solid white;
    width: 2.4rem;
    height: 2.4rem;
    color: white;
    display: none;
  }


&__buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}
&__button {
  color: white;
  border: none;
  background: none;
}
&__icon {
  color: white;
}
&__nav {
  display: flex;
  align-items: center;

}
&__logo {
  max-height: 8rem;
  object-fit: contain;
  margin-right: auto;
}
&__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
&__menu-list {
  margin: 0 1rem;

}
&__link {
  color: white;
  text-transform: uppercase;
}

&__mobile {
  display: none;
}

  @media (max-width: 992px) {	
    &__burger {
      display: block;
  
    }
    &__menu {
      position: absolute;
      flex-direction: column;
      left: 0;
      top: 10rem;
      gap: 2rem;
      padding-block: 2rem;
      align-items: center;
      background-color: $accent1;
      width: 100%;
      clip-path: polygon(0% 0%, 100% 0%, 100% 0%, 0% 0%);
      transition: all .4s;
      border-bottom: 1px solid $accent2;

      &.nav--opened {
        clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
      }
    }
    &__nav {
    

    }
   &__navigation {
    display: flex;
    align-items: center;
    gap: 4rem;
   }
    &__container {

    }
    &__buttons {
      margin-bottom: 0;
    }
  }
  @media (max-width: 768px) {
  }
}


